@media (min-width: 300px) and (max-width: 1289px) {
   * {
    margin: 0;
    padding: 0;
   } 

   /* body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #093302;
    font-family: sans-serif;
    color: #f2ecc0;
   } */

   a, button {cursor: pointer;}

   nav {
    height: 8vh;
    width: 100vw;
    font-size: 12px;
   }

   nav .logo {
    width: 80%;
    padding: 1px 5px;
    text-align: left;
   }

   nav .links {display: none;}

   nav .validate {display: none;}

   .left-side-bar {display: none;}

   .right-side-bar {display: none;}

   main {
    width: 100vw;
    top: 8vh;
    left: 0;
   }

   main .bod .active-page {
    font-size: 14px;
    display: none;
   }

   main .bod .billboard {
    width: 100vw;
    margin: 10px auto;
    margin-top: 0;
    height: 20vh;
   }

   main .bod .billboard .player-img {display: none;}
   main .bod .billboard .player-img img {display: none;}

   main .bod .container {padding-top: 5px;}

   .topic{
    margin-top: 15px;
   }

   .topic h2 {font-size: 20px; margin-bottom: 2px;}
   .topic p {font-size: 18px;}

   .top-players {
    width: 100vw;
    margin: 0;
   }

   .top {
    margin: 0;
    animation: none;
    background-image: linear-gradient(80.92deg, #0b5f07a9 -7.62%, #ff880094 105.55%), url(../img/field3.jpg);
   }

   .top table {font-size: 12px; overflow: hidden;}
   .top table td, th {padding-top: 0;}
   .top table tr th {padding: 0;}
   .top table tr td .names {width: auto; display: block;}
   .top table tr .names img {display: none;}

   .live-games {
    width: 100%;
    margin: 50px auto;
   }

   /* .games {
    width: 30%;
    height: 20vh;
    margin: 4px 4px;
   } */

   .games-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
   }

   .games {
    flex: 1;
    height: 20vh;
    width: 100%;
   }

}

@media (min-width: 1290px) and (max-width: 2600px){
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        box-sizing: border-box;
        height: 100vh;
        /* width: 100vw; */
        background-color: #0e5a01;
        /* background-image: linear-gradient(to bottom,#f7b3153c, #f7b3152e, #f7b3153c); */
        font-family: sans-serif;
        color: #f2ecc0;
    }
     a, button {
        cursor: pointer;
     }
    
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 6vh;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: #0e5a01;
        /* border: 1px solid red; */
    }
    
    .left-side-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        width: 5%;
        height: 70vh;
        top: 20vh;
        left: 2;
        position: fixed;
        background-color: #ff8800af;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        /* border: 1px solid red; */
    }
    main {
        width: 74%;
        height: 100vh;
        top: 6vh;
        left: 5.5%;
        position: relative;
        background-color: #022911;
        box-sizing: border-box;
        /* overflow: scroll; */
        /*scrollbar-gutter: inherit;
        scrollbar-color: transparent; */
        /* border: 1px solid red; */
    }
    .right-side-bar {
        width: 20%;
        height: 100vh;
        top: 6vh;
        left: 80%;
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #0e5a01;
        /* border: 1px solid red; */
    }
    
    nav .logo{
        width: 15%;
        margin-top: 10px;
        padding-left: 30px;
        font-size: 12px;
        /* border: 1px solid blue; */
        text-align: center;
    }
    
    nav .links {
        width: 50%;
        margin-top: 15px;
        /* border: 1px solid yellow; */
    }
    
    nav .links ul {
        display: flex;
        justify-content: space-evenly;
    }
    
    nav .links li {
        list-style: none;
        /* padding-left: 40px; */
    }
    
    nav .links li a {
        color: wheat;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
    }
    
    nav .validate {
        width: 25%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        /* border: 1px solid orange; */
    }
    
    nav .validate button {
        font-size: 0.8rem;
        padding: 0 5px;
        width: 40%;
        /* margin-right: 10px; */
        margin-top: 0px;
        color: white;
        border: none;
        border-radius: 10px;
    }
    
    .login {
        background: #ff8a00;
    }
    
    .signup {
        background: linear-gradient(80.92deg, #00A182 -7.62%, #81CD34 105.55%);
    }
    
    .right-side-bar .top-col {
        width: 100%;
        height: 60%;
        margin-bottom: 20px;
        background-color: #093302;
        z-index: 1;
        box-shadow: 1px 2px 9px #f8e44b6b;
        /* border: 1px solid green; */
    }
    
    .right-side-bar .bottom-col {
        width: 100%;
        height: 30%;
        background-color: #093302;
        box-shadow: 1px 2px 9px #f8e44b6b;
        /* border: 1px solid green; */
    }
    
    .left-side-bar a {
        align-self: center;
    }
    
    .left-side-bar a img {
        width: 45%;
    }
    
    
    main .bod .active-page {
        font-size: 35px;
        font-weight: 700;
        line-height: 58.8px;
        font-family: "Inter", sans-serif;
        color: #f8e44b;
        padding-left: 20px;
        padding-top: 10px;
    }
    
    main .bod  .billboard {
        width: 99%;
        margin: 20px auto;
        height: 30rem;
        display: flex;
        background: linear-gradient(to right, #000000, #000000d5, #00000082, #00000082), url(../img/field3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* margin-top: 20px; */
        /* margin-bottom: -3%; */
        /* border: 1px solid blue; */
    }
    
    main .bod  .billboard .player-img {
        width: 12rem;
        height: 100%;
        /* background-color: #000; */
        /* border: 1px solid green; */
        /* margin-left: */
    }
    
    main .bod  .billboard .player-img img{
        width: 100%;
        height: 100%;
    }
    
    main .bod  .container {
        width: 100%;
        background-color: #022911;
        padding-top: 30px;
        z-index: 3;
    }
    
    .topic {
        margin-top: 100px;
    }
    
    .topic h2 {
        font-size: 30px;
        margin-bottom: 5px;
        color: #f8e44b;
    }
    
    .topic p {
        font-size: 1.5rem;
        color: #8b865f;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .live-games {
        width: 95%;
        margin: 50px auto;
    }
    
    .top-players {
        width: 95%;
        margin: 50px auto;
    }
    
    .top {
        display: block;
        margin: 20px 4px;
        width: 100%;
        /* height: 650px; */
        border-radius: 10px;
        /* background-color: rgba(255, 166, 0, 0.668); */
        background-image: linear-gradient(80.92deg, #0b5f07 -7.62%, #ff8a00 105.55%), url(../img/field3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* animation: glowup 6s linear infinite; */
        box-shadow: 4px 4px 100px 9px rgb(253, 253, 5);
    }
    
    .top table {
        width: 100%;
        /* text-align: center; */
        font-size: 0.9em;
    }
    
    .top table td, th {
        /* border-bottom: 1px solid #093302; */
        /* border-right: 1px solid #093302; */
        padding-top: 15px;
    }
    
    .top table tr td {
        padding: 15px;
    }
    
    
    .top table tr td .names {
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
    
    .top table tr .names img{
        display: none;
        width: 10%;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 50%;
    }
    .games {
        display: inline-block;
        margin: auto 4px;
        width: 18%;
        height: 200px;
        border-radius: 10px;
        /* background-color: rgba(255, 166, 0, 0.668); */
        background-image: linear-gradient(#f89e0ece, #061604a0), url(../img/field3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ufc {display: none;}
    
    .hot-bets {
        width: 99%;
        margin: 50px auto;
    }
    
    .hot-matches {
        /* display: flex; */
        width: 100%;
        /* height: 300px; */
        margin: 10px auto;
        color: white;
    }
    
    .flex {
        /* flex: 2; */
        display: inline-block;
        margin: auto 5px;
        width: 23%;
        height: 300px;
        border-radius: 10px;
        background-color: #f8e44b5f;
        /* box-shadow: 1px 1px 1px black; */
    }
    
    .flex:hover {
        transform: scale(1.09);
        z-index: 1;
    }
    
    .flex .fixture {
        width: 100%;
        height: 40%;
        border-radius: 10px;
        background-color: #e1e2e1;
        box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.625);
    }
    
    .flex .names {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.7rem;
        font-weight: bold;
        margin-top: 20px;
        color: #022911;
    }
    
    .flex .names .home {
        margin-right: 50px;
    }
    
    .flex .names .away {
        margin-left: 20px;
    }
    
    .fixture .logos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 40%;
        color: #093302;
        /* margin: 0 auto; */
        /* padding-top: 30px; */
    }
    
    .flex .fixture img {
        /* display: inline; */
        width: 25%;
        height: 70%;
        margin-top: 25px;
    }
      
    .flex .fixture h1 {
        font-size: 0.6rem;
        padding-top: 50px;
    }
    
    .flex .details {
        text-align: center;
        padding: 20px;
        font-size: 1rem;
    }
    
    label span {
        font-weight: bold;
        font-size: 0.9rem;
    }

    label {
        font-size: 0.8rem;
    }
    
    #joinBetBtn {
        font-size: 1rem;
        padding: 2px 10px;
        border: none;
        border-radius: 10px;
        background-color: hsl(143, 83%, 12%);
        color: white;
    }
    
    #joinBetBtn:hover {
        background-color: #ff8a00;
        color: white;
    }
    
    .match-fixtures {
        width: 95%;
        margin: 10px auto;
        color: #022911;
    }
    
    .grid {
      display: grid;
      height: 80vh;
      grid-template-columns: 1fr 1.3fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 50px;
      /* border: 1px solid green; */
    }
    
    .col {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        max-width: 100%;
        min-height: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #e1e2e1;
        /* border: 1px solid red; */
    }
    
    .col:hover {
        transform: scale(1.03);
    }
    
    .col .img img{
        width: 10%;
        /* border: 1px solid red; */
    }
    
    .col .img img {
        width: 90%;
        height: 90%;
        border: 1px solid red;
    }
    .grid h2 {
        font-size: 0.9rem;
        margin: 0;
    }
    
    .col-2, .row-2, .row-5, .row-8, .row-11, .row-14 {
        padding-top: 12px;
    }

    .grid h3 {
        font-size: 0.8rem;
    }
    
    /* .grid h2 {margin: 5px;} */
    
    
    /* Sign-up Page styling */
    /* .sign-up {
        width: 99%;
        margin: 0 auto;
        /* border: 1px solid red; 
    }
    
    .sign-up .container {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 10px auto;
        background-color: #ff8a00;
        /* border: 1px solid red; 
    }
    
    .sign-up h2, p {text-align: center;}
    
    .sign-up .container h2 {
        font-size: 1.5rem;
        padding-top: 10px;
        color: #093302;
    }
    
    .sign-up .container p {
        font-size: 1rem;
        color: #e1e2e1;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    .sign-up .active-page {
        font-size: 49px;
        font-weight: 700;
        line-height: 58.8px;
        font-family: "Inter", sans-serif;
        color: #f8e44b;
        padding-left: 20px;
    }
    
    .sign-up form {
        width: 80%;
        font-size: 1.3rem;
        padding: 20px;
        color: #093302;
    }
    
    form input {
        width: 80%;
        height: 2.3rem;
        font-size: 1.2rem;
        padding-left: 10px;
        border-style: none;
        border-radius: 5px;
    }
    
    form select option {
        height: 2.3rem;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .fa-eye {
        cursor: pointer;
    }
    
    form .consent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    form #age, #offers, #terms {
        width: 2%;
    }
    
    form .age, .terms, .offers {
        font-size: 1rem;
        width: 100%;
    }
    
    form #submitBtn {
        width: 50%;
        margin: 20px 25%;
        padding: 10px 20px;
        background: linear-gradient(80.92deg, #00A182 -7.62%, #81CD34 105.55%);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border-style: 2px solid;
        border-radius: 10rem;
    }
    
    .auto-signup {
        width: 20%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #e1e2e1; */
        /* padding-top: 50rem; /
    }
    
    /* .auto-signup h1 {
        color: black;
        font: 1.4rem;
        font-weight: 60rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } */
    
    /* .fa-apple, .fa-facebook, .fa-google {
        font-size: 2rem;
        padding-top: 10px;
    
    } */
    
    /********************************************/
    
    
    
    .wallet {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 10px;
        margin: 20px auto;
        border-radius: 10px;
        background-color: #022911;
    }
    
    .wallet .balance {
        font-size: 14px;
        padding-left: 10px;
        /* padding-top: 10px; */
        color: #f8e44b;
    }
    
    .wallet .fa-wallet {
        color: #ff8a00;
    }
    
    .wallet .cash {
        font-size: 14px;
        padding-right: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .btn {
        width: 50%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }
    
    .cash-btn {
        width: 100%;
        background-color: #ff8a00;
        color: #093302;
        padding: 5px 10px;
        margin: 0 20px;
        font-size: 14px;
        font-weight: bolder;
        border: none;
        border-radius: 5px;
    }
    
    #withdrawBtn {
        background: linear-gradient(80.92deg, #00A182 -7.62%, #81CD34 105.55%);
        color: #e1e2e1;
    }
    
    .options {
        width: 95%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        background-color: #022911;
        border-radius: 10px;
    }
    
    .options ul {
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .options li {
        display: block;
        font-size: 10px;
        font-weight: bold;
        padding: 20px;
        border-bottom: 1px solid #8b865f85;
    }
    
    
    .bottom-col textarea {
        width: 100%;
        height: 80%;
        font-size: 14px;
        background: transparent;
        border: #ff8a00;
        color: #e1e2e1;
        /* margin: 10px 20px; */
    }
    
    .bottom-col input {
        padding: 10px;
        margin: 0 70px;
        font-size: 14px;
        border: none;
        border-radius: 10px;
        background-color: #ff8a00;
    }
}